<!DOCTYPE html>
<html lang="en">
<head>
  <title>Book Appointment - Apna Salon</title>
  <%- include("__bootstrap.ejs") %>
</head>
<body>
  <%- include("header.ejs") %>

  <div class="container mt-5">
    <h2 class="text-center mb-4">Book Your Appointment</h2>
    
    <form action="/user/booking" method="post" class="row g-3 shadow p-4 rounded-4">

     <div class="container my-5 fade-in" >
      <div class="card shadow-lg border-0 rounded-4 overflow-hidden" >
        <div class="row g-0" >
          <!-- Left: Image -->
          <div class="col-md-5" style="box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.2); border-radius: 12px; overflow: hidden;" >
            <img src="<%= product.img %>" alt="<%= product.title %>" class="img-fluid service-img h-100">
          </div>
        </div>
      </div>
     </div>


      <div class="col-md-6">
        <label for="name" class="form-label">Full Name</label>
        <input type="text" class="form-control" name="name" required>
      </div>

      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email" required>
      </div>

      <div class="col-md-6">
        <label for="contact" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" name="contact" required>
      </div>

      <div class="col-md-6">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" name="date" required>
      </div>

      <div class="col-md-6">
        <label for="time" class="form-label">Time</label>
        <input type="time" class="form-control" name="time" required>
      </div>

      <div class="col-md-6">
        <label for="service" class="form-label">Select Service</label>
        <select class="form-select" name="service" required>
          <option selected disabled value="">Choose...</option>
          <option>Hair Cut</option>
          <option>Beard Trim</option>
          <option>Facial</option>
          <option>Head Massage</option>
          <option>Hair Color</option>
          <option>Pedicure</option>
          <option>Manicure</option>
          <option>Hair Styling</option>
          <option>Shoulder Massage</option>
        </select>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-dark w-100">Book Now</button>
      </div>
    </form>
  </div>


  <%- include("footer.ejs") %>
</body>
</html>
